<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.zikifaker.tiktok4j.mapper.CommentMapper">
    <insert id="save" parameterType="com.github.zikifaker.tiktok4j.entity.Comment" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO comments (user_id, video_id, content, create_time)
        VALUES (#{userId}, #{videoId}, #{content}, #{createTime})
    </insert>
</mapper>